
/* Load the fonts here */

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
    height: 100%;
}

.header{
    height: 86px;
    background-color: #1E90FF;
    color: white;
}

@media (max-width: 992px){
    .header{
        height: 140px;
    }
}

.text-white {
    color: white !important; 
}

.text-white:hover, .text-white:active {
color: white !important;
}

.header div{
    margin-top: 12px;
}

.home, .dashboard{
    padding-top: 6px;
}

.has-shadow{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2),0 1px 4px 0 rgba(0,0,0,0.19);
}

.sidenav{
    position: absolute;
    width: 80px;
    height: 100%;
  
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
}